body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
.tabHolder {
	list-style-type: none;
	background-color: #283593;
	
	margin: 0;
	padding: 0;
	top: 0;
	width: 100%;
	overflow: hidden;
	position: fixed;
	height: 65px;
}
.logo {
	position: relative;
	float: left;
	padding: 10px 10px 10px 15px;
}
.tab {
	display: block;
	padding: 25px;
	text-decoration: none;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	float: right;
}
.tab:hover {
	color: #64dd17;
}
.pageHolder {
	overflow: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 65px;
}
.page {
	position: absolute;
	width: 100%;
	float: left;
	height: calc(100% - 65px);
	overflow: auto;
}
.pageTitle {
	height: 20%;
	background-color: #5f5fc4;
	color: white;
	text-align: center;
	font-size: 40px;
	font-family: 'Cabin', sans-serif;
}
.pageTitle > span {
	position: relative;
	top: calc(50% - 20px)
}
.iconHolder {
	width: 100%;
	display: inline-flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.projectIcon {
	cursor: pointer;
	height: 150px;
	width: 300px;
	overflow: hidden;
	border-radius: 20px;
	margin-bottom: 25px;
}
.iconBackground {
	height: 100%;
	width: 100%;
	background-size: cover;
	transition: all 0.5s ease;
	text-align: center;
}
#econSimIcon {
	background: linear-gradient(
		rgba(0, 0, 0, 0.7), 
		rgba(0, 0, 0, 0.7)
	), url('assets/economysimulator.png');
}
#stockEvalIcon {
	background: linear-gradient(
		rgba(0, 0, 0, 0.7), 
		rgba(0, 0, 0, 0.7)
	), url('assets/stockresearcheval.png');
}
#kinGraphIcon {
	background: linear-gradient(
		rgba(0, 0, 0, 0.7), 
		rgba(0, 0, 0, 0.7)
	), url('assets/placeholder.png');
}
#stratGameIcon {
	background: linear-gradient(
		rgba(0, 0, 0, 0.7), 
		rgba(0, 0, 0, 0.7)
	), url('assets/placeholder.png');
}
#starClassIcon {
	background: linear-gradient(
		rgba(0, 0, 0, 0.7), 
		rgba(0, 0, 0, 0.7)
	), url('assets/placeholder.png');
}
#wordDegIcon {
	background: linear-gradient(
		rgba(0, 0, 0, 0.7), 
		rgba(0, 0, 0, 0.7)
	), url('assets/placeholder.png');
}
.iconBackground:hover {
	transform: scale(1.2);
}
.iconText {
	position: relative;
	color: white;
	font-size: 22px;
	top: calc(50% - 12px);
}
.darkScreen {
	position: fixed;
	background-color: black;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	z-index: 1;
}
.popup {
	position: fixed;
	background-color: white;
	left: 10%;
	top: 25%;
	width: 80%;
	height: 50%;
	z-index: 2;
	border-radius: 15px;
}
.popupHead {
	text-align: justify;
	margin: 0 auto;
	width: 70%;
}
.popupTitle {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 5px;
	font-family: 'Cabin', sans-serif;
}
.popupButtons {
	position: absolute;
	width: calc(50% - 6px);
	height: 200px;
	bottom: 0;

	border-style: solid;
	border-color: #283593;
	border-width: 8px;
	background-color: #5f5fc4;

	font-family: 'Cabin', sans-serif;
	text-align: center;
	color: white;
	text-decoration: none;
}
.popupImage {
	width: 100px;
	height: 100px;
	margin-top: 20px
}
.credit {
	position: fixed;
	right: 20px;
	bottom: 0;
	margin: 10px;
	font-size: 14px;
}
